@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}


/*NAVIGATION*/

nav {
    height: 75px;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    overflow: hidden;
}

.med-nav {
    z-index: 99;
    position: fixed;
    width: 100%;
    transition: height .2s;
}

nav .logo {
    float: left;
    display: inline-block;
    line-height: 69px;
    -webkit-transition: line-height .2s;
    -moz-transition: line-height .2s;
    transition: line-height .2s;
}

.logo img {
    width: 70%;
    height: auto;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.card {
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px;
}

.card-hover:hover {
    box-shadow: 0 2px 5px 0 #00ACEE, 0 2px 10px 0 #00ACEE;
}

.card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
}

.card p {
    margin: 0;
}

.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem;
}

.card a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.card .image {
    position: relative;
}

.card .image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
    color: #fff;
}

.card .image img {
    border-radius: 2px 2px 0 0;
}

.cards-container {
    padding: 3% 0;
}

.partners-container {
    background-color: #EDEDED;
}

.partners-logos img {
    width: 100%;
    height: auto;
}

.sponsors-games img {
    width: 8rem;
    height: 8rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888;
}

.cards-container-title {
    margin-bottom: 2%;
}

.leaderboard-card:nth-child(odd) {
    background-color: #EDEDED;
}

.leaderboard-card {
    position: relative;
    margin: 1% 0;
}

.leaderboard-img img {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    margin: 5% 0;
}

.valign-middle {
    display: flex;
    align-items: baseline;
}

.custom-meter {
    height: 100%;
    display: block;
    background-color: #D50758;
}

.progress {
    background-color: #cacaca;
    height: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10%;
}

.completed {
    background-color: #62A608;
}

.bold {
    font-weight: bold;
}

.projects-row {
    clear: both;
    color: #B2B8DB;
    font-weight: 500;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}

.project-container {
    position: relative;
    top: 75px;
    padding-top: 3%;
}

.project-description-container {
    padding: 4%;
}

.project-details-container {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding-top: 2%;
}

.project-details-wrapper {
    padding: 0 3%;
}

.title-wrapper {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 5%;
    margin-bottom: 5%;
}

.path-container {
    margin-top: 10%;
}

.path {
    position: relative;
    height: 4px;
    width: 100%;
    background-color: #B2B8DB;
    margin-bottom: 50px;
    margin-top: 30px;
}

.milestone {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #EDEDED;
    border: solid 5px #62A608;
    transform: translate(-50%, -50%);
    top: 4px;
}

.milestone.completed {
    background-color: #62A608;
}

.milestone-target {
    position: relative;
    top: 120%;
    left: -25%;
    font-weight: bolder;
    color: #E14A85;
    font-size: 2em;
}

.image-container {
    margin-bottom: 5%;
}

.description-container {
    font-size: 1.2em;
}

.rewards-container {}

.accordion.rewards .accordion-navigation > .content.active,
.accordion dd > .content.active {
    background: #FCFCFC;
    border: #F1F1F1 solid 2px;
}
